@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.notificationSlideIn {
    animation: notificationSlideIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        top: -10rem;
        opacity: 0;
    }
    100% {
        top: 10rem;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        top: 10rem;
        opacity: 1;
    }
    100% {
        top: -10rem;
        opacity: 0;
    }
}

@keyframes notificationSlideIn {
    0% {
        right: -15rem;
        opacity: 0;
    }
    100% {
        right: 1rem;
        opacity: 1;
    }
}